#vscode files
.vscode/

#frontend files
node_modules/
dist/

#virtual environment files
venv/

#database
*.sqlite3

#cached python fyles
__pycache__/

# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py